
**/log-file.txt
**/*.dat
**/*.lammpstrj
**/*.pyc

python-codes/*.data

**/log.*

benchmark/*/*.data

tests/*.data
tests/variable.lammps

**/generated-codes/

!illustration/Equation-of-state/outputs_*/Epot.dat
!illustration/Equation-of-state/lammps_*/Epot.dat

