[submodule "pyplot-perso"]
	path = pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
[submodule "mdcourse.github.io"]
	path = mdcourse.github.io
	url = git@github.com:mdcourse/mdcourse.github.io.git
